section {
  &.lexicon {
    &#categories, &#entry {

      background-color: #a32b1d;
      background-image: url('/images/lexicon/categories/view_leftTop_red.png'),
      url('/images/lexicon/categories/view_rightBottom_red.png'),
      url('/images/lexicon/categories/view_rightMid_red.png');
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: left top, right bottom, right center;

      div {
        &.list {
          background-color: #ffffff;
          margin-bottom: 25px;
          padding: 15px 30px;
          box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);

          &.last {
            margin-bottom: 45px;
          }

          .name {
            background-color: @color-Aura-Blue;
            color: #ffffff;
            padding: 10px;
          }

          .letter {
            background: rgba(0, 0, 0, 0.1);
            padding: 5px;
            padding-left: 15px;
            margin-right: 15px;
          }

          .categorie {
            background: rgba(0, 0, 0, 0.1);
            padding: 5px;
            padding-left: 10px;
            margin-bottom: 5px;

            &:hover, &.active {
              background-color: @color-Aura-Blue;
              color: #ffffff;
            }
          }
        }
      }
    }

    &#entry {
      hr {
        margin-bottom: 10px;
        margin-top: 10px;
      }

      span {
        &.h2 {
          margin-top: 10px;
        }
      }

      i {
        span {
          &.h4 {
            color: @color-gray;
          }
        }
      }

      .description {
        color: @color-gray;

        a {
          color: @color-Aura-Blue;
        }
      }
    }
  }
}