section {
  &.lexicon {
    &#staff {

      background-color: #25413b;
      background-image: url('/images/lexicon/staffs/view_bottomLeft.png'),
      url('/images/lexicon/staffs/view_bottomRight.png'),
      url('/images/lexicon/staffs/view_topLeft.png'),
      url('/images/lexicon/staffs/view_topRight.png');
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left 70px bottom 20px, right bottom, left top, right 40px top 50px;

      .container {
        position: relative;
      }

      .row {
        position: relative;

        div {
          &.country {
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 25px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

            .search {

              transition: all .50s ease;

              &.min {
                font-size: 20px;
                text-align: center;

                i {
                  transition: all .50s ease;
                  &.open {
                    margin-top: 16px;
                  }
                }
              }

              &.line {

                &.close {
                  width: 0px !important;
                  height: 0px !important;
                  padding: 0px !important;
                  margin: 0px !important;
                  overflow: hidden;
                }
              }
            }

            .center {
              text-align: center;
              transition: all .50s ease;

              &.close {
                width: 0px !important;
                padding: 0px !important;
                margin: 0px !important;
                height: 0px !important;
                overflow: hidden;
              }

              span {
                padding: 10px 7px;
                background-color: #25413b;
                color: #ffffff;
                font-size: 15px;
                border-radius: 5px;
                margin-left: 10px;
                display: inline-block;
                margin-bottom: 7px;

                &.active, &:hover {
                  background-color: @color-Aura-Blue;
                }
              }
            }
          }

          .countryBoxList {
            position: relative;

            img {
              margin: auto;
              max-width: 80px;
            }

            .cancel {
              color: @color-gray;

              img {
                max-width: 50px;
                -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                -webkit-filter: grayscale(100%);
                filter: gray;
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
              }
            }
          }

          &.loader {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 150px;
            color: rgba(255, 255, 255, 0.7);
            background-color: rgba(0, 0, 0, 0.5);
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            text-align: center;
            border-radius: 5px;
            font-size: 100px;
            display: none;
          }
        }

        form {
          input {
            border: 0px;
            background-color: #ffffff;
            font-size: 27px;
            line-height: 32px;
            height: 50px;
            box-shadow: none;
            border-bottom: 2px solid #25413b;
            border-radius: 0px;
          }
        }
      }
    }
  }
}