body {
  padding-top: 0px;
}
body section:first-child {
  padding-top: 100px;
}
body section:first-child#lastFurnis {
  padding-top: 80px;
}
section :not(.ie8) img:hover {
  opacity: 1;
}
.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.panel {
  border: 3px;
  border-radius: 0px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
.out {
  margin-top: -49px;
  margin-bottom: -12px;
  border: 6px solid #ffffff;
}
.carousel .carousel-inner .item .image,
.carousel .carousel-inner .item .imageSeason {
  height: 100%;
  width: 100%;
  position: absolute;
}
.carousel .carousel-inner .item .imageSeason {
  position: absolute;
}
.carousel .carousel-inner .item .imageSeason:after {
  position: absolute;
  content: '';
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background: url('/images/main/header/habbo15_background_left.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}
.carousel .carousel-inner .item .imageSeason img {
  position: absolute;
  bottom: 25px;
  left: 122px;
  z-index: 1;
  opacity: 0.6;
}
.carousel .carousel-inner .item .imageSeason img:hover {
  opacity: 1.0;
}
.carousel .carousel-inner .item .image {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-size: cover;
  background-position: center center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
header.navbar.wet-asphalt {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
  color: #666;
  transition: all 0.50s linear;
}
header.navbar.wet-asphalt.headerBackground {
  background-color: #ffffff;
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.2);
}
header.navbar.wet-asphalt.headerBackground span.name {
  color: #5e5e5e;
}
header.navbar.wet-asphalt.headerBackground .navbar-nav li,
header.navbar.wet-asphalt.headerBackground .navbar-nav li a {
  color: #666;
}
header.navbar.wet-asphalt .navbar-nav li,
header.navbar.wet-asphalt .navbar-nav li a {
  transition: all 0.50s linear;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}
header.navbar.wet-asphalt .navbar-nav li a {
  line-height: 46px;
  border-radius: 0px;
}
header.navbar.wet-asphalt .navbar-nav li a:hover {
  box-shadow: 0 -5px 0 #22b8f0 inset;
}
section div.badge {
  height: 55px;
  width: 55px;
  background-color: #333333;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}
section div.badge:empty {
  display: block;
}
section div.badge.center-block {
  float: inherit;
  display: inline-block;
}
section.headerClean,
section.headerCleanbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
section.headerCleanbar {
  margin-top: -8px;
}
section.halfPadding {
  padding-top: 10px;
}
section#badges {
  background-color: #222222;
  min-height: 10px;
}
section#badges .overview {
  overflow: hidden;
  height: 87px;
}
section#badges .overview .badge {
  background-color: #383d44;
}
section#badges .overview .badge:hover {
  background-color: #1d73ef;
}
section#badges .btn-default {
  background-color: #383d44;
  border: 0px;
  color: #ffffff;
}
section#badges .btn-default:hover {
  background-color: #1d73ef;
}
section#blog,
section#lastNews {
  background-color: #f3f3f3;
}
section#blog .banner.season,
section#lastNews .banner.season {
  width: 100%;
  height: 180px;
  background-size: auto;
  border-radius: 5px;
  transition: all 0.50s linear;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
section#blog .banner.season:hover,
section#lastNews .banner.season:hover {
  opacity: 0.5;
}
section#blog .banner.season.habbo15_1,
section#lastNews .banner.season.habbo15_1 {
  background-image: url('/images/habbo15/banner_1.png');
  background-position: bottom center;
  height: 120px;
}
section#blog .banner.season .description,
section#lastNews .banner.season .description {
  background-color: #093140;
  color: #ffffff;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 5px;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
section#blog.white,
section#lastNews.white {
  background-color: #ffffff;
}
section#blog .banner,
section#lastNews .banner {
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  background-color: #22b8f0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
section#blog .banner.bottom,
section#lastNews .banner.bottom {
  margin-bottom: 25px;
}
section#blog .newsMenu,
section#lastNews .newsMenu {
  min-height: 210px;
  background-color: #FFFFFF;
  width: 98%;
  margin-top: -130px;
  position: absolute;
}
section#blog .newsMenu .others,
section#lastNews .newsMenu .others {
  height: 0px;
  overflow: hidden;
  transition: height 0.50s linear;
  transition-timing-function: linear;
}
section#blog .newsMenu .others:hover,
section#lastNews .newsMenu .others:hover {
  height: auto;
  overflow: auto;
}
section#blog .newsMenu .button,
section#lastNews .newsMenu .button {
  border: none;
  border-top: 1px #d4dde5 dotted;
  height: 60px;
  padding: 20px 15px;
  background-color: #ffffff;
}
section#blog .newsMenu .button.more:hover,
section#lastNews .newsMenu .button.more:hover {
  color: #000000;
}
section#blog .newsMenu .button.more:hover + .others,
section#lastNews .newsMenu .button.more:hover + .others {
  height: auto;
  overflow: auto;
}
section#blog .newsMenu .button .icons,
section#lastNews .newsMenu .button .icons {
  margin-top: -15px;
  margin-right: 10px;
}
section#blog .newsMenu .button.head,
section#lastNews .newsMenu .button.head {
  color: #22b8f0;
  font-weight: bold;
}
section#blog .newsMenu .button.dropdown,
section#lastNews .newsMenu .button.dropdown {
  padding: 10px 15px;
}
section#blog .newsMenu .button.dropdown ul,
section#lastNews .newsMenu .button.dropdown ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 10px;
}
section#blog .newsMenu .button.dropdown ul li,
section#lastNews .newsMenu .button.dropdown ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section#blog .newsMenu .button.activ,
section#lastNews .newsMenu .button.activ,
section#blog .newsMenu .button:hover,
section#lastNews .newsMenu .button:hover {
  background-color: #f4f7f8;
  color: #22b8f0;
}
section#blog .newsMenu .button.activ .icons,
section#lastNews .newsMenu .button.activ .icons,
section#blog .newsMenu .button:hover .icons,
section#lastNews .newsMenu .button:hover .icons {
  background-color: #FFFFFF;
}
section#blog .newsMenu .button.activ,
section#lastNews .newsMenu .button.activ {
  height: auto;
}
section#blog {
  background-color: #ffffff;
}
section#blog .blog-content,
section#blog .header,
section#blog .blog-comments {
  background-color: #ffffff;
  min-height: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
section#blog .blog-content {
  border-bottom: 1px #d4dde5 dotted;
  padding-top: 20px;
}
section#blog .header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: none;
}
section#blog .header .line {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
section#blog .header .line h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}
section#blog .header .line .description {
  color: #999;
  font-size: 18px;
}
section#blog .header .line .infos div.date,
section#blog .header .line .infos div.user {
  color: #bbbbbb;
  float: left;
  padding-right: 15px;
  font-size: 16px;
  margin-top: 15px;
}
section#blog .header .line .infos div.date i,
section#blog .header .line .infos div.user i {
  margin-left: 5px;
}
section#blog .header div.description {
  margin-top: 40px;
}
section#blog .header div.description div {
  color: #bbbbbb;
}
section#blog .header div.description div span {
  display: block;
}
section#blog .header div.description div span.habbo {
  color: #22b8f0;
  font-size: 24px;
}
section#blog .header div.description div span.likes {
  font-size: 16px;
}
section .mainBanner {
  display: block;
  height: 56px;
  margin: auto;
  margin-bottom: 20px;
}
section .mainBanner.red .images .left,
section .mainBanner.red .images .right {
  background-image: url("../images/main/banner/red/sides.png");
}
section .mainBanner.red .images .middle {
  background-image: url("../images/main/banner/red/mid.png");
}
section .mainBanner.lila .images .left,
section .mainBanner.lila .images .right {
  background-image: url("../images/main/banner/lila/sides.png");
}
section .mainBanner.lila .images .middle {
  background-image: url("../images/main/banner/lila/mid.png");
}
section .mainBanner .images {
  display: table;
  margin: auto;
}
section .mainBanner .images .left,
section .mainBanner .images .right,
section .mainBanner .images .middle {
  height: 56px;
  float: left;
}
section .mainBanner .images .left,
section .mainBanner .images .right {
  background-image: url("../images/main/banner/blue/sides.png");
  width: 58px;
}
section .mainBanner .images .right {
  background-position: top right;
}
section .mainBanner .images .middle {
  background-image: url("../images/main/banner/blue/mid.png");
  padding: 8px 10px 8px 10px;
  color: #ffffff;
  font-size: 12px;
}
section .mainBanner .images .middle .desc,
section .mainBanner .images .middle .title {
  display: block;
  text-align: center;
}
section .mainBanner .images .middle .title {
  font-weight: bold;
}
section#lastNews .smallMirco .categorie {
  background-color: transparent !important;
  border-bottom: #22b8f0 3px solid;
  padding: 0px;
  margin-bottom: 5px;
  position: absolute;
  width: 100%;
  bottom: -5px;
}
section#lastNews .smallMirco .categorie.background_aura {
  border-color: #22b8f0 !important;
}
section#lastNews .smallMirco .categorie.background_aura_red {
  border-color: #a10018 !important;
}
section#lastNews .smallMirco .categorie.background_aura_yellow {
  border-color: #bba700 !important;
}
section#lastNews .smallMirco .categorie.background_aura_green {
  border-color: #559600 !important;
}
section#lastNews .smallMirco .categorie.background_aura_lila {
  border-color: #6f3140 !important;
}
section#lastNews .smallMirco .categorie.background_event {
  border-color: #7f4883 !important;
}
section#lastNews .smallMirco .categorie span {
  padding: 2px 7px;
  padding-top: 5px;
  margin: 0px;
  color: #ffffff;
  display: inline-block;
  border-top-right-radius: 5px;
}
section#lastNews .smallMirco .back {
  margin-bottom: 35px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
}
section#lastNews .smallMirco .back:hover .blog.small .shader,
section#lastNews .smallMirco .back:hover .blog.micro .shader {
  background-color: rgba(0, 0, 0, 0.1);
}
section#lastNews .smallMirco .back .more {
  position: absolute;
  bottom: -10px;
  right: 20px;
  width: 50%;
  background-color: #e8624a;
  border: 0px;
  padding: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
section#lastNews .smallMirco .back .body {
  position: relative;
  padding-top: 10px;
  height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
section#lastNews .smallMirco .back .body .row {
  padding-left: 10px;
  padding-right: 5px;
  text-overflow: ellipsis;
}
section#lastNews .smallMirco .back .body .row .infos {
  font-size: 12px;
  color: #999999;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 8px;
}
section#lastNews .smallMirco .back .blog.small,
section#lastNews .smallMirco .back .blog.micro {
  background-color: #22b8f0;
  background-size: auto;
  background-position: center right;
  height: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all .50s ease;
}
section#lastNews .smallMirco .back .blog.small .comments,
section#lastNews .smallMirco .back .blog.micro .comments {
  position: absolute;
  bottom: 3px;
  right: 0px;
  text-align: right;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-top-left-radius: 5px;
}
section#lastNews .smallMirco .back .blog.small .new,
section#lastNews .smallMirco .back .blog.micro .new {
  background-color: #22b8f0;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  width: 200px;
  right: -50px;
  top: 25px;
  z-index: 2;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  opacity: 1.0;
  transition: opacity .50s ease;
  -moz-transition: opacity .50s ease;
  -webkit-transition: opacity .50s ease;
}
section#lastNews .smallMirco .back .blog.small .header,
section#lastNews .smallMirco .back .blog.micro .header {
  height: 100px;
  width: 100%;
  background-color: #22b8f0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
section#lastNews .smallMirco .back .blog.small .shader,
section#lastNews .smallMirco .back .blog.micro .shader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .50s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#lastNews .smallMirco .back .blog.micro {
  height: 90px;
}
section#lastNews .smallMirco .back .blog.micro .blog-content {
  margin-top: 17px;
}
section#lastFurnis {
  background-color: #0e878a;
  min-height: 50px;
  margin-top: 0px;
  padding-top: 0px;
  background-image: url("../images/furni/view_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 80%;
}
section#lastFurnis.home {
  padding-bottom: 0px;
}
section#lastFurnis.full .furniView {
  min-height: 500px;
}
section#lastFurnis.full .furniView .furni .furniImage {
  height: 500px;
}
section#lastFurnis .furni-search span,
section#lastFurnis .furni-search input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #555;
  border-radius: 0px;
  background: transparent;
  color: #333;
  box-shadow: none;
}
section#lastFurnis .furniView {
  min-height: 400px;
}
section#lastFurnis .furniView .furni {
  display: none;
}
section#lastFurnis .furniView .furni:first-child {
  display: block;
}
section#lastFurnis .furniView .furni .furniImage {
  height: 400px;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
section#lastFurnis .furniView .furni .furniImage .direction,
section#lastFurnis .furniView .furni .furniImage .acts {
  /*position: relative;*/
}
section#lastFurnis .furniView .furni .furniImage img {
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: none;
}
section#lastFurnis .furniView .furni .furniImage img:first-child {
  display: inline;
}
section#lastFurnis .furniView .furni .furniImage .acts img {
  display: none;
}
section#lastFurnis .furniView .furni .furniImage .infos,
section#lastFurnis .furniView .furni .furniImage .act {
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  z-index: 5;
  position: relative;
}
section#lastFurnis .furniView .furni .furniImage .infos span,
section#lastFurnis .furniView .furni .furniImage .act span {
  display: block;
}
section#lastFurnis .furniView .furni .furniImage .infos span.title,
section#lastFurnis .furniView .furni .furniImage .act span.title {
  font-size: 16px;
  font-weight: bold;
}
section#lastFurnis .furniView .furni .furniImage .act {
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
section#lastFurnis .furniView .furni .furniImage .act .icon {
  background-color: transparent;
  height: 46px;
  width: 46px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  margin: auto;
  opacity: 0.5;
}
section#lastFurnis .furniView .furni .furniImage .act .icon:hover {
  height: 48px;
  width: 48px;
  margin-top: -3px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
section#lastFurnis .furniView .furni .furniImage .act .icon:hover .inner {
  width: 44px;
  height: 44px;
}
section#lastFurnis .furniView .furni .furniImage .act .icon .inner {
  background-color: rgba(0, 0, 0, 0.5);
  width: 42px;
  height: 42px;
  border-radius: 21px;
  color: #ffffff;
  padding: 2px;
  font-size: 27px;
}
section#lastFurnis .overview {
  background-color: #e5e5e5;
  min-height: 50px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 20px;
}
section#lastFurnis .overview .btn-default {
  background-color: #bebebe;
  border: 0px;
  margin-top: 10px;
}
section#lastFurnis .overview .btn-default:hover {
  background-color: #9f9f9f;
}
section#lastFurnis .overview.small {
  padding-bottom: 0px;
  padding-top: 30px;
}
section#lastFurnis .overview .list {
  overflow: hidden;
  height: 98px;
}
section#lastFurnis .overview .list .scroll {
  /*width: 1800px;*/
}
section#lastFurnis .overview .list .scroll .furni {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0px 10px 0px 10px;
  position: relative;
}
section#lastFurnis .overview .list .scroll .furni:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
section#lastFurnis .overview .list .scroll .furni:hover .border {
  padding: 3px 3px 3px 3px;
}
section#lastFurnis .overview .list .scroll .furni:hover .border .background {
  width: 62px;
  height: 62px;
  background-color: #0e878a;
}
section#lastFurnis .overview .list .scroll .furni .border {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  background-color: #ffffff;
  margin: 1px 1px 1px 1px;
  padding: 4px 4px 4px 4px;
}
section#lastFurnis .overview .list .scroll .furni .border .background {
  background-color: #434343;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
section#lastFurnis .overview .list .scroll .furni .border .background .new {
  background-color: #5db8e5;
  color: #ffffff;
  position: absolute;
  padding: 4px 4px 4px 4px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  top: 5px;
  left: -4px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}
.navbar-brand span.name {
  letter-spacing: 7px;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 23px;
  margin-left: -6px;
}
.navbar-brand span.name span {
  color: #22b8f0;
}
.navbar-brand span.slog {
  float: none;
  display: block;
  font-size: 12px;
  line-height: initial;
  margin-top: -15px;
  margin-left: 43px;
}
.navbar-brand > img {
  display: inline-block;
  margin-top: 16px;
  opacity: 0.7;
}
.navbar-brand:hover img {
  opacity: 1.0;
}
.navbar > .container .navbar-brand {
  margin-top: -7px;
}
#main-slider .carousel .item {
  height: 400px;
}
#main-slider .carousel .item .text-center {
  padding-top: 40px;
}
#main-slider .carousel .item button.btn.btn-link {
  border: 0px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
}
header.navbar.wet-asphalt {
  min-height: 75px;
}
.navbar-toggle {
  margin-top: 23px;
}
.background_aura {
  background-color: #22b8f0 !important;
}
.font_background_aura {
  color: #22b8f0 !important;
}
.background_aura_red {
  background-color: #a10018 !important;
}
.font_background_aura_red {
  color: #a10018 !important;
}
.background_aura_yellow {
  background-color: #bba700 !important;
}
.font_background_aura_yellow {
  color: #bba700 !important;
}
.background_aura_green {
  background-color: #559600 !important;
}
.font_background_aura_green {
  color: #559600 !important;
}
.background_aura_lila {
  background-color: #6f3140 !important;
}
.background_event {
  background-color: #7f4883 !important;
}
.font_background_aura_lila {
  color: #6f3140 !important;
}
.blog-comments {
  padding-bottom: 10px;
  border-bottom: 1px #d4dde5 dotted;
  margin-bottom: 5px;
}
.blog-comments.empty {
  text-align: center;
  background-color: #2f3841;
  color: #b2b8c4;
  padding: 40px 20px;
  max-width: 90%;
  margin: auto;
  background-image: url('/uploads/habbos/server_habbo.gif');
  background-position: center right 6%;
  background-repeat: no-repeat;
  border-bottom: none;
  min-height: 100px;
}
.blog-comments.delete .content {
  transition: all 0.50s linear;
  height: 0px;
  width: 100%;
  overflow: hidden;
}
.blog-comments.delete:hover {
  height: auto;
}
.blog-comments:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.blog-comments .min {
  max-width: 80px;
}
.blog-comments .text-center b {
  color: #22b8f0;
}
.smallPadding {
  padding-left: 5px;
  padding-right: 5px;
}
.white-popup-block {
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  max-width: 550px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
}
header.navbar.wet-asphalt .dropdown-menu li a {
  color: rgba(255, 255, 255, 0.6);
}
.emerald {
  background-color: #093140;
}
section.ads#footerAd {
  min-height: 80px;
  padding: 10px;
}
div.Tokenize {
  width: 100%;
  border-radius: 5px;
}
div.Tokenize ul.TokensContainer,
div.Tokenize div.Tokenize ul.Dropdown {
  border-radius: 5px;
  padding: 10px;
}
div.Tokenize ul.TokensContainer li.Token,
div.Tokenize ul.TokensContainer li.TokenSearch {
  padding: 5px;
  height: auto;
  border-radius: 5px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.modal-open .modal {
  overflow-y: scroll;
}
section.user#userOnline {
  background-color: #007498;
  background-image: url('/images/main/texture/bg_texture.out.png');
  background-position: center;
}
section.user#userOnline .user {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 1px;
  margin-left: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section.user#userOnline .user img {
  border-radius: 5px;
}
section.user#userOnline .user small {
  color: #ffffff;
  display: inline-block;
}
section.user#userOnline .user:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
section.user#allOnline {
  background-color: #0f4f67;
  padding: 5px;
  margin: 0px;
  text-align: center;
  color: #ffffff;
}
section.user#profil .side {
  padding-right: 0px;
}
section.user#profil .side .banner {
  background-color: #093140;
  height: 150px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.user#profil .side .description {
  background-color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;
  color: #7f7f7f;
}
section.user#profil .side .description .h3 {
  font-weight: 100;
  color: #1e2856;
}
section.user#profil .side .description .motto {
  font-size: 15px;
}
section.user#profil .side .description div.since {
  margin-top: 10px;
}
section.user#profil .side .description div.since .since {
  font-size: 14px;
}
section.user#profil .side .userComments {
  background-color: #ffffff;
}
section.user#profil .side .userComments .new textarea {
  background-color: #f3f4f5;
  padding: 15px;
  border: 0px;
  box-shadow: none;
  border-radius: 0px;
  height: 120px;
  resize: vertical;
}
section.user#profil .side .userComments .new button {
  width: 100%;
  border: 0px;
  border-radius: 0px;
  margin-top: -18px;
  background-color: #2fb398;
  color: #ffffff;
}
section.user#profil .main {
  padding-left: 0px;
  padding-right: 0px;
}
section.user#profil .main .banner {
  height: 280px;
  background-color: #22b8f0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
section.user#profil .main .static {
  background-color: #e5e5e5;
  padding: 15px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}
section.user#profil .main .static img {
  margin-right: 14px;
}
section.user#profil .main .static .modul {
  margin-bottom: 5px;
  margin-top: 5px;
}
section.user#profil .main .freetext {
  padding: 15px;
}
section.user#profil .main .freetext hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
section.user#edit {
  background-image: url('/images/user/edit/view_fill_2.png');
  background-repeat: repeat;
  background-position: center;
  min-height: 100px;
  padding: 20px;
  padding-top: 45px;
}
section.user#edit .panel {
  color: #999999;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.05);
}
section.user#edit .panel .menu .link {
  border: none;
  border-top: 1px #d4dde5 dotted;
  height: 60px;
  padding: 20px 15px;
  background-color: #ffffff;
}
section.user#edit .panel .menu .link.activ,
section.user#edit .panel .menu .link:hover {
  background-color: #f4f7f8;
  color: #22b8f0;
}
section.user#edit .panel .menu .link.activ .icons,
section.user#edit .panel .menu .link:hover .icons {
  background-color: #FFFFFF;
}
section.user#edit .panel .menu .link.activ {
  height: auto;
}
section.user#edit .title {
  margin-bottom: 5px;
  display: inline-block;
}
section.user#join {
  padding: 20px;
  padding-top: 45px;
  background-color: #5c96b8;
  min-height: 100px;
  color: #ffffff;
  background-image: url('/images/user/backgrounds/join/view_bottomRight.png'), url('/images/user/backgrounds/join/view_repeat.png');
  background-repeat: no-repeat, repeat;
  background-position: bottom right -100px, center;
}
section.user#join.password {
  background-image: url('/images/user/backgrounds/join/view_bottomRight.png'), url('/images/badges/used/patter_2.png'), url('/images/badges/used/patter_.gif');
  background-repeat: no-repeat, repeat, repeat;
  background-position: bottom right -100px, center, center;
}
section.user#join .panel {
  color: #999999;
  border: none;
  border-radius: 0px;
}
section.user#join .step {
  position: absolute;
  left: -200%;
  transition-property: all;
  transition-duration: 1.50s;
}
section.user#join .step.active {
  position: relative;
  left: 0px;
  display: block;
}
section.user#join .title {
  font-weight: 100;
  color: #ffffff;
}
section.user#join .row.padding {
  margin-top: 35px;
}
.btn-shortnews {
  background-color: #3d3643;
}
.btn-shortnews.view {
  background-color: #89888A;
}
.btn-shortnews .middle {
  padding: 5px;
}
.eventMiddle {
  width: 90%;
  margin-left: 5%;
  margin-top: -10px;
}
.eventMiddle .btn-shortnews {
  border-top-left-radius: 0px;
}
a .btn-shortnews {
  color: #ffffff;
}
a:hover .btn-shortnews {
  color: #504556;
}
section#shortnews {
  background-image: url('/images/shortnews/background.png');
  background-position: center;
  background-repeat: repeat;
}
section#shortnews .slogen {
  color: #ffffff;
  padding-bottom: 25px;
}
section#shortnews .shortnewsList {
  background-image: url('/images/logo/big_1.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}
section .shortnewsList {
  color: #b2b8c4;
}
section .shortnewsList .more {
  margin-top: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
}
section .shortnewsList .categorie {
  background-color: transparent !important;
  border-bottom: #22b8f0 3px solid;
  padding: 0px;
  margin-top: -10px;
  margin-bottom: 0px;
}
section .shortnewsList .categorie.background_aura {
  border-color: #22b8f0 !important;
}
section .shortnewsList .categorie.background_aura_red {
  border-color: #a10018 !important;
}
section .shortnewsList .categorie.background_aura_yellow {
  border-color: #bba700 !important;
}
section .shortnewsList .categorie.background_aura_green {
  border-color: #559600 !important;
}
section .shortnewsList .categorie.background_aura_lila {
  border-color: #6f3140 !important;
}
section .shortnewsList .categorie.background_event {
  border-color: #7f4883 !important;
}
section .shortnewsList .categorie span {
  padding: 2px 7px;
  padding-top: 5px;
  margin: 0px;
  color: #ffffff;
  display: inline-block;
  border-top-left-radius: 5px;
  float: right;
}
section .shortnewsList .shortnews {
  background-color: #3d3643;
  min-height: 70px;
  color: #c3c3c3;
  padding-top: 10px;
  margin-bottom: 25px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all .50s ease;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  position: relative;
}
section .shortnewsList .shortnews.import {
  background-color: #330D0A;
}
section .shortnewsList .shortnews.import a {
  color: #702207;
}
section .shortnewsList .shortnews.import .head .badgeImage {
  background-color: #472D2B;
}
section .shortnewsList .shortnews.info,
section .shortnewsList .shortnews.important {
  background-color: #2B3347;
}
section .shortnewsList .shortnews.info a,
section .shortnewsList .shortnews.important a {
  color: #22b8f0;
}
section .shortnewsList .shortnews.info .head .badgeImage,
section .shortnewsList .shortnews.important .head .badgeImage {
  background-color: #131C33;
}
section .shortnewsList .shortnews .pin {
  position: absolute;
  top: -10px;
  right: -10px;
}
section .shortnewsList .shortnews.event .head {
  min-height: 20px;
}
section .shortnewsList .shortnews.event .badge {
  background-color: #504556;
}
section .shortnewsList .shortnews.event .btns .btn {
  float: right;
}
section .shortnewsList .shortnews.event .categorie span {
  border-top-right-radius: 5px;
  border-top-left-radius: 0px;
  float: left;
}
section .shortnewsList .shortnews .head {
  clear: both;
  min-height: 50px;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
section .shortnewsList .shortnews .head:after {
  clear: both;
}
section .shortnewsList .shortnews .head span.date {
  color: #c3c3c3;
}
section .shortnewsList .shortnews .head .badgeImage {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/logo/logo_rainbow.png');
  background-color: #504556;
  border-radius: 30px;
  float: left;
  margin-right: 10px;
  margin-top: -6px;
}
section .shortnewsList .shortnews .head .badgeImage.habboaura {
  background-image: url('/images/logo/logo_rainbow.png');
}
section .shortnewsList .shortnews .head .badgeImage.furni {
  background-image: url('/images/icons/RM3.gif');
}
section .shortnewsList .shortnews .text {
  display: block;
  transition-property: all;
  transition-duration: .50s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  padding-bottom: 0px;
  padding: 20px;
}
section .shortnewsList .shortnews .text a {
  color: #345394;
}
section .shortnewsList .shortnews .image {
  height: 50px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  margin-top: -10px;
  width: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
section .shortnewsList .shortnews .image:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
section .shortnewsList .shortnews .image:hover .open {
  opacity: 0;
}
section .shortnewsList .shortnews .image .open {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #b2b8c4;
  font-weight: bold;
  opacity: 1;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 1.20s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
section .shortnewsList .shortnews .image .open a {
  color: #b2b8c4;
}
section .shortnewsList .shortnews .image .open a:hover {
  color: #b2b8c4;
}
section .shortnewsList .shortnews .btns {
  position: relative;
  color: #FFFFFF;
  width: 100%;
}
section .shortnewsList .shortnews .btns a {
  color: #FFFFFF;
}
section .shortnewsList .shortnews .btns a:hover {
  color: #093140;
}
section .shortnewsList .shortnews .btns .btn {
  width: 50%;
  float: left;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
section .shortnewsList .shortnews .btns .btn.likes,
section .shortnewsList .shortnews .btns .btn.comments {
  position: absolute;
  right: 2.5%;
  bottom: -12px;
  border-radius: 5px;
  border: 0px;
  padding: 7px 10px;
  width: 45%;
}
section .shortnewsList .shortnews .btns .btn.comments {
  border-right-width: 0px !important;
  left: 2.5%;
  right: auto;
}
section .shortnewsList .shortnews .btns .btn:hover {
  color: rgba(0, 0, 0, 0.5);
}
section .shortnewsList .shortnews .btns .btn a:hover {
  color: rgba(0, 0, 0, 0.5);
}
section.goodies#images {
  background-color: #221725;
  background-image: url('/images/goodies/images/view_leftBottom.png'), url('/images/goodies/images/view_rightBottom.png'), url('/images/goodies/images/view_rightTop.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom, right bottom, right top;
}
section.goodies#images .row {
  position: relative;
}
section.goodies#images .row div.img {
  background-color: rgba(0, 0, 0, 0.3);
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
section.goodies#images .row div.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 150px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  border-radius: 5px;
  font-size: 100px;
  display: none;
}
section.goodies#images .row form input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 27px;
  line-height: 32px;
  height: 50px;
}
section.goodies#images .row form label {
  color: #8b4d79;
  font-size: 20px;
  font-weight: 100;
}
section.lexicon#staff {
  background-color: #25413b;
  background-image: url('/images/lexicon/staffs/view_bottomLeft.png'), url('/images/lexicon/staffs/view_bottomRight.png'), url('/images/lexicon/staffs/view_topLeft.png'), url('/images/lexicon/staffs/view_topRight.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 70px bottom 20px, right bottom, left top, right 40px top 50px;
}
section.lexicon#staff .container {
  position: relative;
}
section.lexicon#staff .row {
  position: relative;
}
section.lexicon#staff .row div.country {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
section.lexicon#staff .row div.country .search {
  transition: all .50s ease;
}
section.lexicon#staff .row div.country .search.min {
  font-size: 20px;
  text-align: center;
}
section.lexicon#staff .row div.country .search.min i {
  transition: all .50s ease;
}
section.lexicon#staff .row div.country .search.min i.open {
  margin-top: 16px;
}
section.lexicon#staff .row div.country .search.line.close {
  width: 0px !important;
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}
section.lexicon#staff .row div.country .center {
  text-align: center;
  transition: all .50s ease;
}
section.lexicon#staff .row div.country .center.close {
  width: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  height: 0px !important;
  overflow: hidden;
}
section.lexicon#staff .row div.country .center span {
  padding: 10px 7px;
  background-color: #25413b;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 7px;
}
section.lexicon#staff .row div.country .center span.active,
section.lexicon#staff .row div.country .center span:hover {
  background-color: #22b8f0;
}
section.lexicon#staff .row div .countryBoxList {
  position: relative;
}
section.lexicon#staff .row div .countryBoxList img {
  margin: auto;
  max-width: 80px;
}
section.lexicon#staff .row div .countryBoxList .cancel {
  color: #999999;
}
section.lexicon#staff .row div .countryBoxList .cancel img {
  max-width: 50px;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
section.lexicon#staff .row div.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 150px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  border-radius: 5px;
  font-size: 100px;
  display: none;
}
section.lexicon#staff .row form input {
  border: 0px;
  background-color: #ffffff;
  font-size: 27px;
  line-height: 32px;
  height: 50px;
  box-shadow: none;
  border-bottom: 2px solid #25413b;
  border-radius: 0px;
}
section.lexicon#categories,
section.lexicon#entry {
  background-color: #a32b1d;
  background-image: url('/images/lexicon/categories/view_leftTop_red.png'), url('/images/lexicon/categories/view_rightBottom_red.png'), url('/images/lexicon/categories/view_rightMid_red.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top, right bottom, right center;
}
section.lexicon#categories div.list,
section.lexicon#entry div.list {
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 15px 30px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
}
section.lexicon#categories div.list.last,
section.lexicon#entry div.list.last {
  margin-bottom: 45px;
}
section.lexicon#categories div.list .name,
section.lexicon#entry div.list .name {
  background-color: #22b8f0;
  color: #ffffff;
  padding: 10px;
}
section.lexicon#categories div.list .letter,
section.lexicon#entry div.list .letter {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
  padding-left: 15px;
  margin-right: 15px;
}
section.lexicon#categories div.list .categorie,
section.lexicon#entry div.list .categorie {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
}
section.lexicon#categories div.list .categorie:hover,
section.lexicon#entry div.list .categorie:hover,
section.lexicon#categories div.list .categorie.active,
section.lexicon#entry div.list .categorie.active {
  background-color: #22b8f0;
  color: #ffffff;
}
section.lexicon#entry hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
section.lexicon#entry span.h2 {
  margin-top: 10px;
}
section.lexicon#entry i span.h4 {
  color: #999999;
}
section.lexicon#entry .description {
  color: #999999;
}
section.lexicon#entry .description a {
  color: #22b8f0;
}
html,
body {
  margin: 0;
  height: 100%;
}
.usermenu {
  position: fixed;
  top: 0px;
  left: -250px;
  width: 250px;
  background-color: rgba(34, 37, 42, 0.95);
  height: 100%;
  z-index: 1040;
  transition-property: all;
  transition-duration: .50s;
  color: #ffffff;
}
@media (min-width: 1170px) {
  .usermenu {
    left: -235px;
  }
}
.usermenu .title {
  height: 150px;
  width: 100%;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition-property: all;
  transition-duration: .50s;
}
.usermenu .title.login {
  background-image: url('/images/user/login/frank_login.png');
}
.usermenu .title .description {
  width: 100%;
  height: 30px;
  background-color: rgba(34, 37, 42, 0.55);
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 6px;
  text-align: center;
}
.usermenu .bookmark {
  width: 35px;
  height: 46px;
  background-color: rgba(34, 37, 42, 0.95);
  position: absolute;
  left: 250px;
  top: 15px;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding-top: 7px;
  background-image: url("/images/icons/usernavi.png");
  background-position: center;
  background-repeat: no-repeat;
}
.usermenu .bookmark .badge {
  position: absolute;
  bottom: -3px;
  right: -8px;
}
.usermenu.openMenu {
  left: 0px;
}
.usermenu.openMenu .content .text {
  overflow: auto;
}
.usermenu.openMenu .content .icon {
  background-color: rgba(255, 255, 255, 0.1);
}
.usermenu:not(.openMenu) .content,
.usermenu:not(.openMenu) .title {
  width: 0px !important;
}
.usermenu .content {
  width: 100%;
  padding-top: 15px;
  transition-property: all;
  transition-duration: .50s;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.usermenu .content hr {
  border: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.usermenu .content.main {
  margin-bottom: 35px;
}
.usermenu .content input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}
.usermenu .content button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
}
.usermenu .content .icon {
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  display: none;
  transition-property: all;
  transition-duration: .50s;
}
.usermenu .content .icon:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.usermenu .content .text {
  transition-property: all;
  transition-duration: .50s;
}
.usermenu .content .text ul {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 35px;
}
.usermenu .content .text ul li {
  position: relative;
  margin-bottom: 10px;
}
.usermenu .content .text ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.usermenu .content .text ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.usermenu .content .text ul li a img {
  position: absolute;
  left: -28px;
}
.usermenu .content .info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
.aicon {
  background-position: center;
  background-repeat: no-repeat;
}
.aicon.user_group {
  background-image: url('/images/icons/min_group.png');
}
.aicon.min_key {
  background-image: url('/images/icons/min_key.gif');
}
.icons {
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;
}
.icons.habboaura {
  background-image: url('/images/icons/habboaura_black.png') !important;
}
.icons.home {
  background-image: url('/images/icons/home.png') !important;
}
.icons.box {
  background-image: url('/images/icons/box.png') !important;
}
.icons.console {
  background-image: url('/images/icons/console.png') !important;
}
.icons.help {
  background-image: url('/images/icons/help.png') !important;
}
.icons.room {
  background-image: url('/images/icons/RM3.gif') !important;
}
.icons.hotel {
  background-image: url('/images/icons/hotel.png') !important;
}
.icons.fansites {
  background-image: url('/images/icons/fansites.png') !important;
}
.icons.habbo {
  background-image: url('/images/icons/habbo.png') !important;
}
.icons.habbo_de {
  background-image: url('/images/icons/habbo_de.png') !important;
}
.icons.interview {
  background-image: url('/images/icons/interview.png') !important;
}
.icons.lexicon {
  background-image: url('/images/icons/lexcion.png') !important;
}
.icons.min_badge {
  background-image: url('/images/icons/min_badge.png') !important;
}
.icons.retweet {
  background-image: url('/images/icons/retweet.png') !important;
}
.icons.RM3 {
  background-image: url('/images/icons/RM3.gif') !important;
}
.icons.tech {
  background-image: url('/images/icons/tech.png') !important;
}
.icons.usernavi {
  background-image: url('/images/icons/usernavi.png') !important;
}
.icons.quest {
  background-image: url('/images/icons/quest.png') !important;
}
section#team {
  background-color: #5ccce0;
  background-image: url('/images/team/waldgame.png');
  background-position: center bottom;
  background-repeat: repeat-x;
}
section#team .panel {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px;
}
section.bestlist {
  background-color: #222222;
  color: #ffffff;
}
section.bestlist .banner {
  background-image: url('/images/best/badge/header.png');
  background-repeat: no-repeat;
  background-position: left 30% center;
  height: 139px;
}
section.bestlist .banner span {
  margin-top: 50px;
}
section.bestlist .banner span.h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  margin-bottom: 2 0px;
  display: inline-block;
}
section.bestlist .langs {
  position: absolute;
  right: 0px;
  top: -60px;
}
section.bestlist .langs .box .col-xs-4 {
  margin-bottom: 0px;
}
section.bestlist .langs .box .flag {
  height: 20px;
  width: 20px;
  margin-bottom: 0px;
  display: block;
}
section.bestlist .box {
  color: #22b8f0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
section.bestlist .box .list {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
section.bestlist .box .list:last-child {
  border-right: 0px;
}
section.bestlist#badge {
  background-image: url("/images/best/badge/top.png"), url("/images/best/badge/back.png");
  background-position: top left 5%, center;
  background-repeat: no-repeat, repeat;
}
.flag {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.flag.de {
  background-image: url('/images/flags/de_2.png');
  background-size: cover;
}
.flag.tr {
  background-image: url('/images/flags/tr_2.png');
  background-size: cover;
}
.flag.com {
  background-image: url('/images/flags/int_1.png');
  background-size: cover;
}
#userOnline .flag {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}
#bottom .flag {
  width: 12px;
  height: 12px;
}
#profil .description span {
  position: relative;
}
#profil .description span .flag {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  position: absolute;
  right: -30px;
}
.blog-comments .flag {
  position: relative;
  top: 3px;
}
section.goodies#habboindex {
  min-height: 250px;
  background-color: #463d6a;
  background-image: url("/images/goodies/infos/view_bottom_left.png"), url("/images/goodies/infos/view_center_left.png"), url("/images/goodies/infos/view_center_right.png"), url("/images/goodies/infos/view_mid.png"), url("/images/goodies/infos/view_top_leftMid.png"), url("/images/goodies/infos/view_top_right.png"), url("/images/goodies/infos/view_top_left.png");
  background-position: bottom left, center left, center right, center, top center, top right, top left;
  background-repeat: no-repeat;
}
section.goodies#habboindex .title {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
section.goodies#habboindex .title h1 {
  margin-bottom: 5px;
}
section.goodies#habboindex .title small {
  color: #ffffff;
  font-size: 20px;
  margin-top: 4px;
  display: block;
}
section.goodies#habboindex .box {
  background-color: #001f54;
  min-height: 15px;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
}
section.goodies#habboindex .box a {
  color: #b66874;
}
section.goodies#habboindex .box dl dd {
  margin-left: 15px;
}
section.goodies#habboindex .box .content {
  padding: 15px;
}
section.goodies#habboindex .box .content .badge {
  background-color: #163168;
}
section.message {
  background-image: url('/images/user/message/view_top_right.png'), url('/images/user/message/view_bottom_left.png'), url('/images/user/message/view_back.gif');
  background-position: top left, bottom right, center;
  background-repeat: no-repeat, no-repeat, repeat;
}
section.message .box {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
section.message .box .alert {
  margin-bottom: 0px;
}
section.message .box .oneLine {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section#blackhole,
section #bobbaTalk,
section #pixel,
section #event {
  background-color: #000000;
  background-image: url('/images/user/stars/furnimatic_backdrop_left_tempfix3.png'), url('/images/user/stars/furnimatic_backdrop_right.png'), url('/images/user/stars/blackhole.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom left, bottom right, top center;
}
section#blackhole h1,
section #bobbaTalk h1,
section #pixel h1,
section #event h1 {
  color: #ffffff;
}
section#blackhole hr,
section #bobbaTalk hr,
section #pixel hr,
section #event hr {
  border-top: 1px solid #241b67;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section#bobbaTalk {
  background-image: url('/images/pages/bobbatalk/pattern.png');
  background-repeat: repeat;
  background-position: center;
}
section#bobbaTalk hr {
  border-top: 1px solid #0d1f29;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
section#bobbaTalk h1 {
  color: #ffffff;
}
section#event {
  margin-top: -65px;
  padding-bottom: 0px;
}
section#event.calendar {
  background-color: #050102;
  background-image: url('/images/pages/event/calendar/img_bottomRight.png'), url('/images/pages/event/calendar/img_bottomLeft.png'), url('/images/pages/event/calendar/img_topRight.png'), url('/images/pages/event/calendar/img_midTop.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: bottom right, bottom left, top right, center top ;
}
section#event.calendar .shadow {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}
section#event.calendar span.label {
  position: relative;
}
section#event.calendar span.label .badge {
  font-size: 9px;
  padding: 3px 5px 3px 5px;
  background-color: #551616;
  display: block;
  position: absolute;
  top: -6px;
  right: -6px;
}
section#event.calendar hr {
  border-top: 1px solid #0d1f29;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
section#event.calendar h1 {
  color: #ffffff;
}
section#pixel {
  background-color: #63d2ff;
  background-image: url('/images/pages/pixel/bottom.png'), url('/images/pages/pixel/logo.png'), url('/images/pages/pixel/stars.png');
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: bottom right, center top 20px, center;
  padding-top: 180px;
  padding-bottom: 200px;
}
section#article {
  background-color: #ffffff;
}
section#article .banner {
  min-height: 50px;
  background-size: cover;
  background-position: center right;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
section#article .banner .shadow {
  background-color: rgba(0, 0, 0, 0.2);
}
section#article .banner .description {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}
section#article .banner .description .text {
  font-size: 22px;
  width: 60%;
  display: block;
  padding-top: 10px;
}
section#article .banner .categories {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
  padding-top: 35px;
  padding-bottom: 35px;
  color: rgba(255, 255, 255, 0.8);
}
section#article .banner .categories a {
  font-size: 17px;
  margin-right: 23px;
  color: #999999;
  font-weight: 100;
}
section#article .banner .categories a:hover {
  color: rgba(255, 255, 255, 0.8);
}
section#article .banner .categories a.active {
  color: #22b8f0;
}
section#article .category {
  background-color: #f7f7f7;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  color: #999999;
}
section#article .category .cat {
  color: #999999;
  font-size: 25px;
  font-weight: lighter;
}
section#article .category a {
  color: #999999;
  padding-top: 10px;
  display: inline-block;
}
section#article .infos {
  color: #999999;
  padding-top: 15px;
  padding-bottom: 35px;
}
section#article .infos span.text {
  display: inline-block;
  margin-right: 15px;
  color: #999999;
}
section#article .infos span.text a {
  color: #999999;
}
section#article .infos span.text a:hover {
  color: #22b8f0;
}
section#article .infos a {
  color: #22b8f0;
}
section#article .infos a:hover {
  color: #093140;
}
section#article .articleContent .likes h3 {
  color: #bbbbbb;
  font-weight: 100;
}
section#article .articleContent .likes .emos:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
section#article .articleContent .likes .emo {
  margin-bottom: 0px;
  height: 46px;
  background-position: center;
  background-repeat: no-repeat;
}
section#article .articleContent .likes .emo.sad {
  background-image: url('/images/Smileys/Augenverdrehen.png');
}
section#article .articleContent .likes .emo.okay {
  background-image: url('/images/Smileys/Mhm.png');
}
section#article .articleContent .likes .emo.like {
  background-image: url('/images/Smileys/Lachen.png');
}
section#article .articleContent .likes .emo.text {
  padding-top: 13px;
}
section#article .articleContent .content {
  padding-bottom: 25px;
}
section#article .articleContent .content a {
  color: #22b8f0;
}
section#article .articleContent .content a:hover {
  color: #093140;
}
section#article .articleContent .commentsContent {
  padding-top: 15px;
}
section#article .articleContent .commentsContent h3 {
  color: #bbbbbb;
  font-weight: 100;
}
section#article .articleContent .panel {
  border-width: 0px;
  box-shadow: none;
  margin-bottom: 25px;
}
section#article .articleContent .panel .panel-heading {
  background-color: transparent;
}
section#article .articleContent .panel .recommand {
  width: 100%;
  float: none;
}
section#article .articleContent .panel .recommand .banner {
  width: 35%;
  height: 90px;
  background-size: cover;
  background-position: center right;
  float: left;
}
section#article .articleContent .panel .recommand .desc {
  float: left;
  width: 59%;
  padding: 10px;
}
section#article .articleContent .panel .recommand .desc .title {
  font-size: 17px;
  font-weight: bolder;
}
section#article .articleContent .panel .badge {
  background-color: rgba(0, 0, 0, 0.2);
}
section#article .articleContent .panel a {
  color: #22b8f0;
}
section#article .articleContent .panel a:hover {
  color: #093140;
}
section#badge h1.white {
  color: #ffffff;
}
section#badge.page {
  background-image: url('/images/badges/used/img_bottom_right.png'), url('/images/badges/bg_pattern.gif');
  background-position: bottom right, center;
  background-repeat: no-repeat, repeat;
  min-height: 150px;
}
section#badge.page.not {
  background-image: url('/images/badges/used/img_bottom_right.png'), url('/images/badges/bg_pattern_not.png');
  background-position: bottom right, center;
  background-repeat: no-repeat, repeat;
}
section#badge.page.used {
  background-image: url('/images/badges/used/img_bottom_right.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #891a00;
}
section#badge.page .badge.center-block {
  margin: auto;
  margin-top: 10px;
  float: none;
}
section#badge.page .box {
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
  border-radius: 5px;
  color: #ffffff;
}
section#badge.page .box.space {
  margin-bottom: 35px;
}
section#badge.page .box.active {
  background-color: #22b8f0;
}
section#badge.page .box.help {
  background-image: url('/images/icons/help.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}
section#badge.page .box.hover:hover {
  background-color: #093140;
}
section#badge.page .box .pagination li span,
section#badge.page .box .pagination li a {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  color: #ffffff;
}
section#badge.page .box .pagination li a:hover {
  color: #ffffff;
  background-color: #22b8f0;
}
section#badge.page .box .pagination li.disabled span {
  color: #999999;
}
section#badge.page .box .pagination li.active span {
  background-color: #093140;
  color: #ffffff;
}
section#badge.page .box .form label {
  font-size: 24px;
}
section#badge.page .box .form #search {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
}
section#badge.page .box .form .btn {
  background-color: #22b8f0;
  border: none;
  color: #ffffff;
}
section#badge.page .box .form .btn:hover {
  background-color: #093140;
}
section#badge.page .box.list .badge {
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
section#badge.page .box.list .badge:hover {
  background-color: #22b8f0;
}
section#badge.page .box.list .badge:hover.code .code {
  background-color: #093140;
}
section#badge.page .box.list .badge.center-block {
  margin: auto;
  margin-top: 10px;
  float: none;
}
section#badge.page .box.list .badge.rare {
  background-color: rgba(0, 105, 30, 0.5);
}
section#badge.page .box.list .badge.normal {
  background-color: rgba(105, 103, 26, 0.5);
}
section#badge.page .box.list .badge.code {
  margin-bottom: 35px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  width: 7.1%;
  min-width: 40px;
}
section#badge.page .box.list .badge.code .code {
  background-color: #22b8f0;
  position: absolute;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
  bottom: -22px;
  padding: 5px;
  left: 0px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}
section#event.code {
  padding: 20px;
  padding-top: 100px;
  background-color: #6faeca;
  background-image: url('/images/event/leftbottom.png'), url('/images/event/left.png');
  background-position: left bottom, left;
  background-repeat: no-repeat, repeat-y;
  min-height: 100px;
  color: #ffffff;
}
section#event.code .panel {
  color: #001a35;
}

/*# sourceMappingURL=app.css.map */