section.goodies {
  &#habboindex {

    min-height: 250px;

    background-color: #463d6a;
    background-image: url("/images/goodies/infos/view_bottom_left.png"),
    url("/images/goodies/infos/view_center_left.png"),
    url("/images/goodies/infos/view_center_right.png"),
    url("/images/goodies/infos/view_mid.png"),
    url("/images/goodies/infos/view_top_leftMid.png"),
    url("/images/goodies/infos/view_top_right.png"),
    url("/images/goodies/infos/view_top_left.png");
    background-position: bottom left, center left, center right, center, top center, top right, top left;
    background-repeat: no-repeat;

    .title {
      color: #ffffff;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
      margin-bottom: 10px;

      h1 {
        margin-bottom: 5px;
      }

      small {
        color: #ffffff;
        font-size: 20px;
        margin-top: 4px;
        display: block;
      }

    }

    .box {
      background-color: #001f54;
      min-height: 15px;
      color: #ffffff;
      border-radius: 5px;
      margin-bottom: 15px;

      a {
        color: #b66874;
      }

      dl {
        dd {
          margin-left: 15px;
        }
      }

      .content {
        padding: 15px;

        .badge {
          background-color: #163168;
        }
      }
    }
  }
}