@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@color-Aura-Blue: #22b8f0;
@color-Aura-Blue-Dark: #093140;

@color-Aura-Red: #A10018;

@color-Aura-Yellow: #BBA700;

@color-Aura-Green: #559600;

@color-Aura-Lila: #6F3140;

@color-event: #7f4883;

@color-lightdark: #bbb;
@color-gray: #999;

body {
  padding-top: 0px;

  section {
    &:first-child {
      padding-top: 100px;

      &#lastFurnis {
        padding-top: 80px;
      }
    }
  }
}


section :not(.ie8) img:hover {
  opacity: 1;
}

.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.panel {
  border: 3px;
  border-radius: 0px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1)
}

.out {
  margin-top: -49px;
  margin-bottom: -12px;
  border: 6px solid #ffffff;
}

.carousel {
  .carousel-inner {
    .item {
      .image, .imageSeason {
        height: 100%;
        width: 100%;
        position: absolute;

      }

      .imageSeason {
        position: absolute;

        &:after {
          position: absolute;
          content:'';
          opacity: 0.5;
          height: 100%;
          width: 100%;
          background: url('/images/main/header/habbo15_background_left.png');
          background-position: left bottom;
          background-repeat: no-repeat;

        }

        img {
          position: absolute;
          bottom: 25px;
          left: 122px;
          z-index:1;
          opacity: 0.6;

          &:hover {
            opacity: 1.0;
          }
        }
      }

      .image {
        filter: blur(10px);
        background-size: cover;
        background-position: center center;

        image-rendering: -moz-crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;

      }
    }
  }
}

header {
  &.navbar {
    &.wet-asphalt {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: none;
      color: #666;
      transition: all 0.50s linear;

      &.headerBackground {
        background-color: rgba(255, 255, 255, 1.0);
        box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.2);

        span {
          &.name {
            color: #5e5e5e;
          }
        }

        .navbar-nav {
          li, li a {
            color: #666;
          }
        }
      }

      .navbar-nav {
        li, li a {
          transition: all 0.50s linear;
          color: #FFFFFF;
          font-weight: bold;
          text-transform: uppercase;
        }

        li a {
          line-height: 46px;
          border-radius: 0px;

          &:hover {
            box-shadow: 0 -5px 0 @color-Aura-Blue inset
          }
        }
      }
    }
  }
}

section {

  div.badge {
    height: 55px;
    width: 55px;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;

    &:empty {
      display: block;
    }
    
    &.center-block {
      float: inherit;
      display: inline-block;
    }
  }

  &.headerClean, &.headerCleanbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  &.headerCleanbar {
    margin-top: -8px;
  }

  &.halfPadding {
    padding-top: 10px;
  }

  &#badges {
    background-color: #222222;
    min-height: 10px;

    .overview {
      overflow: hidden;
      height: 87px;

      .badge {
        background-color: #383d44;

        &:hover {
          background-color: #1d73ef;
        }
      }
    }

    .btn-default {

      background-color: #383d44;
      border: 0px;
      color: #ffffff;

      &:hover {
        background-color: #1d73ef;
      }
    }

  }

  &#blog, &#lastNews {

    .banner {
      &.season {
        width: 100%;
        height: 180px;
        background-size: auto;
        border-radius: 5px;
        transition: all 0.50s linear;
        background-position: top center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;

        &:hover {
          opacity: 0.5;
        }

        &.habbo15_1 {
          background-image: url('/images/habbo15/banner_1.png');
          background-position: bottom center;
          height: 120px;
        }

        .description {
          background-color: @color-Aura-Blue-Dark;
          color: #ffffff;
          position: absolute;
          width: 100%;
          text-align: center;
          padding: 5px;
          bottom: 0px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

        }

      }
    }

    &.white {
      background-color: #ffffff;
    }

    background-color: #f3f3f3;

    .banner {
      height: 250px;
      background-size: cover;
      background-position: center;
      margin-bottom: 0px;
      background-color: @color-Aura-Blue;

      image-rendering: -moz-crisp-edges;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;

      &.bottom {
        margin-bottom: 25px;
      }
    }

    .newsMenu {
      min-height: 210px;
      background-color: #FFFFFF;
      width: 98%;
      margin-top: -130px;
      position: absolute;

      .others {
        height: 0px;
        overflow: hidden;
        transition: height 0.50s linear;
        transition-timing-function: linear;

        &:hover {
          height: auto;
          overflow: auto;
        }
      }

      .button {
        border: none;
        border-top: 1px #d4dde5 dotted;
        height: 60px;
        padding: 20px 15px;
        background-color: #ffffff;

        &.more {
          &:hover {

            color: #000000;

            & + .others {
              height: auto;
              overflow: auto;
            }
          }
        }

        .icons {
          margin-top: -15px;
          margin-right: 10px;
        }

        &.head {
          color: @color-Aura-Blue;
          font-weight: bold;
        }

        &.dropdown {
          padding: 10px 15px;

          ul {
            list-style-type: none;
            list-style-position: outside;
            padding-left: 10px;

            li {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }

        &.activ, &:hover {
          background-color: #f4f7f8;
          color: @color-Aura-Blue;

          .icons {
            background-color: #FFFFFF;
          }
        }

        &.activ {
          height: auto;
        }
      }
    }
  }

  &#blog {

    background-color: #ffffff;

    .blog-content, .header, .blog-comments {
      background-color: #ffffff;
      min-height: 50px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .blog-content {
      border-bottom: 1px #d4dde5 dotted;
      padding-top: 20px;
    }

    .header {

      background-color: #f4f4f4;
      border-bottom: 1px solid #e2e2e2;
      box-shadow: none;

      .line {
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        h2 {
          margin-bottom: 5px;
          margin-top: 5px;
        }
        .description {
          color: #999;
          font-size: 18px;
        }

        .infos {
          div {
            &.date, &.user {
              color: @color-lightdark;
              float: left;
              padding-right: 15px;
              font-size: 16px;
              margin-top: 15px;

              i {
                margin-left: 5px;
              }
            }
          }
        }
      }

      div {
        &.description {
          margin-top: 40px;
          div {
            color: @color-lightdark;
            span {
              display: block;
              &.habbo {
                color: @color-Aura-Blue;
                font-size: 24px;
              }
              &.likes {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .mainBanner {
    display: block;
    height: 56px;
    margin: auto;
    margin-bottom: 20px;

    &.red {
      .images {

        .left, .right {
          background-image: url("../images/main/banner/red/sides.png");
        }
        .middle {
          background-image: url("../images/main/banner/red/mid.png");
        }

      }
    }

    &.lila {
      .images {

        .left, .right {
          background-image: url("../images/main/banner/lila/sides.png");
        }
        .middle {
          background-image: url("../images/main/banner/lila/mid.png");
        }

      }
    }

    .images {
      display: table;
      margin: auto;

      .left, .right, .middle {
        height: 56px;
        float: left;
      }

      .left, .right {
        background-image: url("../images/main/banner/blue/sides.png");
        width: 58px;
      }

      .right {
        background-position: top right;

      }

      .middle {
        background-image: url("../images/main/banner/blue/mid.png");
        padding: 8px 10px 8px 10px;
        color: #ffffff;
        font-size: 12px;

        .desc, .title {
          display: block;
          text-align: center;
        }

        .title {
          font-weight: bold;
        }
      }
    }
  }

  &#lastNews {

    .smallMirco {

      .categorie {
        background-color: transparent !important;
        border-bottom: @color-Aura-Blue 3px solid;
        padding: 0px;
        margin-bottom: 5px;
        position: absolute;
        width: 100%;
        bottom: -5px;

        &.background_aura {
          border-color: @color-Aura-Blue !important;
        }

        &.background_aura_red {
          border-color: @color-Aura-Red !important;
        }

        &.background_aura_yellow {
          border-color: @color-Aura-Yellow !important;
        }

        &.background_aura_green {
          border-color: @color-Aura-Green !important;
        }

        &.background_aura_lila {
          border-color: @color-Aura-Lila !important;
        }

        &.background_event {
          border-color: @color-event !important;
        }

        span {
          padding: 2px 7px;
          padding-top: 5px;
          margin: 0px;
          color: #ffffff;
          display: inline-block;
          border-top-right-radius: 5px;
        }
      }

      .back {
        margin-bottom: 35px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        position: relative;

        &:hover {
          .blog {

            &.small, &.micro {
              .shader {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }

        .more {
          position: absolute;
          bottom: -10px;
          right: 20px;
          width: 50%;
          background-color: #e8624a;
          border: 0px;
          padding: 5px;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .body {
          position: relative;
          padding-top: 10px;
          height: 170px;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: #ffffff;

          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          .row {
            padding-left: 10px;
            padding-right: 5px;
            text-overflow: ellipsis;

            .infos {
              font-size: 12px;
              color: @color-gray;
              width: 100%;
              margin-top: 5px;
              margin-bottom: 8px;
            }
          }

        }

        .blog {

          &.small, &.micro {

            background-color: @color-Aura-Blue;
            background-size: auto;
            background-position: center right;
            height: 170px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: relative;
            overflow: hidden;

            transition: all .50s ease;


            .comments {
              position: absolute;
              bottom: 3px;
              right: 0px;
              text-align: right;
              padding: 5px 10px;
              background: rgba(0, 0, 0, 0.7);
              color: #fff;
              border-top-left-radius: 5px;
            }

            .new {
              background-color: @color-Aura-Blue;
              color: #ffffff;
              padding: 10px;
              text-align: center;
              transform: rotate(45deg);
              position: absolute;
              width: 200px;
              right: -50px;
              top: 25px;
              z-index: 2;
              box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);

              opacity: 1.0;
              transition: opacity .50s ease;
              -moz-transition: opacity .50s ease;
              -webkit-transition: opacity .50s ease;
            }

            .header {
              height: 100px;
              width: 100%;
              background-color: @color-Aura-Blue;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;

              image-rendering: -moz-crisp-edges;
              image-rendering: -moz-crisp-edges;
              image-rendering: -o-crisp-edges;
              image-rendering: -webkit-optimize-contrast;
              -ms-interpolation-mode: nearest-neighbor;

            }

            .shader {
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              background-color: rgba(0, 0, 0, 0.4);
              transition: all .50s ease;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }

          }

          &.micro {
            height: 90px;

            .blog-content {
              margin-top: 17px;
            }

          }
        }
      }
    }
  }

  &#lastFurnis {

    background-color: #0e878a;
    min-height: 50px;

    margin-top: 0px;
    padding-top: 0px;

    background-image: url("../images/furni/view_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 80%;

    &.home {
      padding-bottom: 0px;
    }

    &.full {
      .furniView {
        min-height: 500px;

        .furni {
          .furniImage {
            height: 500px;
          }
        }
      }
    }

    .furni-search {
      span, input {
        font-size: 20px;
        border: none;
        border-bottom: 2px solid #555;
        border-radius: 0px;
        background: transparent;
        color: #333;
        box-shadow: none;
      }
    }

    .furniView {
      min-height: 400px;

      .furni {

        display: none;

        &:first-child {
          display: block;
        }

        .furniImage {
          height: 400px;
          width: 100%;
          display: inline-block;
          position: relative;
          overflow: hidden;

          .direction, .acts {
            /*position: relative;*/
          }

          img {
            position: absolute;
            bottom: 100px;
            left: 50%;
            display: none;

            &:first-child {
              display: inline;
            }
          }

          .acts {
            img {
              display: none;
            }
          }

          .infos, .act {
            border-radius: 0px 0px 10px 10px;
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            padding: 15px;
            z-index: 5;
            position: relative;

            span {
              display: block;

              &.title {
                font-size: 16px;
                font-weight: bold;
              }
            }
          }

          .act {
            border-radius: 10px;
            position: absolute;
            bottom: 0px;
            width: 100%;

            .icon {
              background-color: transparent;
              height: 46px;
              width: 46px;
              border: 2px solid #FFFFFF;
              border-radius: 25px;
              margin: auto;
              opacity: 0.5;

              &:hover {
                height: 48px;
                width: 48px;
                margin-top: -3px;
                box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);

                opacity: 1;

                .inner {
                  width: 44px;
                  height: 44px;
                }

              }

              .inner {
                background-color: rgba(0, 0, 0, 0.5);
                width: 42px;
                height: 42px;
                border-radius: 21px;
                color: #ffffff;

                padding: 2px;
                font-size: 27px;
              }

            }
          }

        }
      }
    }

    .overview {
      background-color: #e5e5e5;
      min-height: 50px;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 20px;

      .btn-default {
        background-color: #bebebe;
        border: 0px;
        margin-top: 10px;

        &:hover {
          background-color: #9f9f9f;
        }
      }

      &.small {
        padding-bottom: 0px;
        padding-top: 30px;
      }

      .list {

        overflow: hidden;
        height: 98px;

        .scroll {

          /*width: 1800px;*/

          .furni {
            width: 70px;
            height: 70px;
            border-radius: 35px;
            border-color: transparent;
            background-color: rgba(0, 0, 0, 0.2);
            float: left;
            margin: 0px 10px 0px 10px;
            position: relative;

            &:hover {
              background-color: rgba(0, 0, 0, 0.3);
              .border {
                padding: 3px 3px 3px 3px;
                .background {
                  width: 62px;
                  height: 62px;
                  background-color: #0e878a;
                }
              }
            }

            .border {
              width: 68px;
              height: 68px;
              border-radius: 34px;
              background-color: #ffffff;
              margin: 1px 1px 1px 1px;
              padding: 4px 4px 4px 4px;

              .background {
                background-color: #434343;
                width: 60px;
                height: 60px;
                border-radius: 30px;

                background-repeat: no-repeat;
                background-position: center center;

                .new {
                  background-color: #5db8e5;
                  color: #ffffff;
                  position: absolute;
                  padding: 4px 4px 4px 4px;
                  border-radius: 5px;
                  font-size: 12px;
                  line-height: 12px;
                  top: 5px;
                  left: -4px;
                  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar-brand {
  span {
    &.name {
      letter-spacing: 7px;
      font-weight: 100;
      color: #FFFFFF;
      font-size: 23px;
      margin-left: -6px;

      span {
        color: @color-Aura-Blue;
      }
    }

    &.slog {
      float: none;
      display: block;
      font-size: 12px;
      line-height: initial;
      margin-top: -15px;
      margin-left: 43px;
    }
  }
  & > img {
    display: inline-block;
    margin-top: 16px;
    opacity: 0.7;

  }
  &:hover {
    img {
      opacity: 1.0;
    }
  }
}

.navbar > .container .navbar-brand {
  margin-top: -7px;
}

#main-slider .carousel .item {
  height: 400px;

  .text-center {
    padding-top: 40px;
  }

  button {

    &.btn {
      &.btn-link {
        border: 0px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 12px 20px;
      }
    }

  }
}

header.navbar.wet-asphalt {
  min-height: 75px;
}

.navbar-toggle {
  margin-top: 23px;
}

.background_aura {
  background-color: @color-Aura-Blue !important;
}

.font_background_aura {
  color: @color-Aura-Blue !important;
}

.background_aura_red {
  background-color: @color-Aura-Red !important;
}

.font_background_aura_red {
  color: @color-Aura-Red !important;
}

.background_aura_yellow {
  background-color: @color-Aura-Yellow !important;
}

.font_background_aura_yellow {
  color: @color-Aura-Yellow !important;
}

.background_aura_green {
  background-color: @color-Aura-Green !important;
}

.font_background_aura_green {
  color: @color-Aura-Green !important;
}


.background_aura_lila {
  background-color: @color-Aura-Lila !important;
}

.background_event {
  background-color: @color-event !important;
}

.font_background_aura_lila {
  color: @color-Aura-Lila !important;
}

.blog-comments {
  padding-bottom: 10px;
  border-bottom: 1px #d4dde5 dotted;
  margin-bottom: 5px;

  &.empty {
    text-align: center;
    background-color: #2f3841;
    color: #b2b8c4;
    padding: 40px 20px;
    max-width: 90%;
    margin: auto;
    background-image: url('/uploads/habbos/server_habbo.gif');
    background-position: center right 6%;
    background-repeat: no-repeat;
    border-bottom: none;
    min-height: 100px;
  }

  &.delete {
    .content {
      transition: all 0.50s linear;
      height: 0px;
      width: 100%;
      overflow: hidden;
    }

    &:hover {
      height: auto;
    }
  }

  &:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .min {
    max-width: 80px;
  }

  .text-center {
    b {
      color: @color-Aura-Blue;
    }
  }
}

.smallPadding {
  padding-left: 5px;
  padding-right: 5px;
}

.white-popup-block {
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  max-width: 550px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
}

header.navbar.wet-asphalt .dropdown-menu li a {
  color: rgba(255, 255, 255, 0.6);
}

.emerald {
  background-color: @color-Aura-Blue-Dark  ;
}

section {
  &.ads {
    &#footerAd{
      min-height: 80px;
      padding: 10px;
    }
  }
}

div.Tokenize {
  width: 100%;
  border-radius: 5px;

  ul.TokensContainer, div.Tokenize ul.Dropdown {
    border-radius: 5px;
    padding: 10px;
  }
}

div.Tokenize ul.TokensContainer li.Token, div.Tokenize ul.TokensContainer li.TokenSearch {
  padding: 5px;
  height: auto;
  border-radius: 5px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}


.modal-open .modal {
  overflow-y: scroll;
}

@import "user";
@import "shortnews";
@import "goodies";
@import "lexicon";
@import "usermenu";
@import "icons";
@import "team";
@import "bestlist";
@import "flags";
@import "goodie/habboinfos";
@import "message";
@import "pages";
@import "article";
@import "badge";
@import "event";

//@import "habboween";