section {
  &#article {

    background-color: #ffffff;

    .banner {
      min-height: 50px;
      background-size: cover;
      background-position: center right;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;

      image-rendering: -moz-crisp-edges;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;

      .shadow {
        background-color: rgba(0, 0, 0, 0.2);
      }

      .description {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #ffffff;

        .text {
          font-size: 22px;
          width: 60%;
          display: block;
          padding-top: 10px;
        }
      }

      .categories {
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: right;
        padding-top: 35px;
        padding-bottom: 35px;
        color: rgba(255, 255, 255, 0.8);

        a {
          font-size: 17px;
          margin-right: 23px;
          color: @color-gray;
          font-weight: 100;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }

          &.active {
            color: @color-Aura-Blue;
          }
        }
      }
    }

    .category {
      background-color: #f7f7f7;
      padding-top: 25px;
      padding-bottom: 25px;
      width: 100%;
      color: @color-gray;

      .cat {
        color: @color-gray;
        font-size: 25px;
        font-weight: lighter;
      }

      a {
        color: @color-gray;
        padding-top: 10px;
        display: inline-block;
      }
    }

    .infos {
      color: @color-gray;
      padding-top: 15px;
      padding-bottom: 35px;

      span {
        &.text {
          display: inline-block;
          margin-right: 15px;
          color: @color-gray;

          a {
            color: @color-gray;
            &:hover {
              color: @color-Aura-Blue;
            }
          }
        }
      }

      a {
        color: @color-Aura-Blue;
        &:hover {
          color: @color-Aura-Blue-Dark;
        }
      }
    }

    .articleContent {

      .likes {

        h3 {
          color: @color-lightdark;
          font-weight: 100;
        }

        .emos {
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        .emo {
          margin-bottom: 0px;
          height: 46px;
          background-position: center;
          background-repeat: no-repeat;

          &.sad {
            background-image: url('/images/Smileys/Augenverdrehen.png');
          }

          &.okay {
            background-image: url('/images/Smileys/Mhm.png');
          }

          &.like {
            background-image: url('/images/Smileys/Lachen.png');
          }

          &.text {
            padding-top: 13px;
          }
        }
      }

      .content {
        padding-bottom: 25px;
        a {
          color: @color-Aura-Blue;

          &:hover {
            color: @color-Aura-Blue-Dark;
          }

        }
      }

      .commentsContent {
        padding-top: 15px;
        h3 {
          color: @color-lightdark;
          font-weight: 100;
        }
      }

      .panel {
        border-width: 0px;
        box-shadow: none;
        margin-bottom: 25px;

        .panel-heading {
          background-color: transparent;
        }

        .recommand {

          width: 100%;
          float: none;

          .banner {
            width: 35%;
            height: 90px;
            background-size: cover;
            background-position: center right;
            float: left;
          }

          .desc {
            float: left;
            width: 59%;
            padding: 10px;

            .title {
              font-size: 17px;
              font-weight: bolder;
            }
          }
        }

        .badge {
          background-color: rgba(0, 0, 0, 0.2);
        }

        a {
          color: @color-Aura-Blue;

          &:hover {
            color: @color-Aura-Blue-Dark;
          }
        }
      }
    }

  }
}