section {
  &#badge {

    h1 {
     &.white {
       color: #ffffff;
     }
    }

    &.page {
      background-image: url('/images/badges/used/img_bottom_right.png'), url('/images/badges/bg_pattern.gif');
      background-position: bottom right, center;
      background-repeat: no-repeat, repeat;
      min-height: 150px;

      &.not {
        background-image: url('/images/badges/used/img_bottom_right.png'), url('/images/badges/bg_pattern_not.png');
        background-position: bottom right, center;
        background-repeat: no-repeat, repeat;
      }

      &.used {
        background-image: url('/images/badges/used/img_bottom_right.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-color: #891a00;
      }

      .badge {
        &.center-block {
          margin: auto;
          margin-top: 10px;
          float: none;
        }
      }

      .box {
        width: 100%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: 15px;

        border-radius: 5px;

        color: #ffffff;

        &.space {
          margin-bottom: 35px;
        }

        &.active {
          background-color: @color-Aura-Blue;
        }

        &.help {
          background-image: url('/images/icons/help.png');
          background-repeat: no-repeat;
          background-position: center;
          height: 50px;
        }

        &.hover {
          &:hover {
            background-color: @color-Aura-Blue-Dark;
          }
        }

        .pagination {
          li {
            span, a {
              background-color: transparent;
              border: 0px;
              border-radius: 0px;
              color: #ffffff;
            }

            a {
              &:hover {
                color: #ffffff;
                background-color: @color-Aura-Blue;
              }
            }

            &.disabled {
              span {
                color: @color-gray;
              }
            }

            &.active {
              span {
                background-color: @color-Aura-Blue-Dark;
                color: #ffffff;
              }
            }
          }
        }

        .form {
          label {
            font-size: 24px;
          }

          #search {
            background: transparent;
            border: none;
            color: #ffffff;
            font-size: 20px;
          }

          .btn {
            background-color: @color-Aura-Blue;
            border: none;
            color: #ffffff;
             &:hover {
               background-color: @color-Aura-Blue-Dark;
             }
          }
        }

        &.list {
          .badge {
            margin-bottom: 10px;
            margin-right: 10px;
            background-color: rgba(255, 255, 255, 0.2);

            &:hover {
              background-color: @color-Aura-Blue;

              &.code {
                .code {
                  background-color: @color-Aura-Blue-Dark;
                }
              }
            }

            &.center-block {
              margin: auto;
              margin-top: 10px;
              float: none;
            }

            &.rare {
              background-color: rgba(0, 105, 30, 0.5);
            }

            &.normal {
              background-color: rgba(105, 103, 26, 0.5);
            }

            &.code {
              margin-bottom: 35px;
              position: relative;
              border-radius: 5px 5px 0px 0px;
              width: 7.1%;
              min-width: 40px;
              .code {
                background-color: @color-Aura-Blue;
                position: absolute;
                color: #ffffff;
                width: 100%;
                overflow: hidden;
                bottom: -22px;
                padding: 5px;
                left: 0px;
                text-align: center;
                border-radius: 0px 0px 5px 5px;
              }
            }
          }
        }
      }
    }
  }
}