section {
  &.bestlist {

    background-color: #222222;
    color: #ffffff;

    .banner {

      background-image: url('/images/best/badge/header.png');
      background-repeat: no-repeat;
      background-position: left 30% center;
      height: 139px;

      span {
        margin-top: 50px;
        &.h1 {
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
          margin-bottom: 2 0px;
          display: inline-block;
        }
      }
    }

    .langs {
      position: absolute;
      right: 0px;
      top: -60px;

      .box {

       .col-xs-4 {
          margin-bottom: 0px;
        }

        .flag {
          height: 20px;
          width: 20px;
          margin-bottom: 0px;
          display: block;
        }
      }
    }

    .box {
      color: @color-Aura-Blue;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 15px;
      border-radius: 7px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;

      .list {
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        &:last-child {
          border-right: 0px;
        }
      }

    }

    &#badge {
      
      background-image:  url("/images/best/badge/top.png"), url("/images/best/badge/back.png");
      background-position: top left 5%, center;
      background-repeat: no-repeat, repeat;

    }

  }
}