section {
  &#event {
    &.code {
      padding: 20px;
      padding-top: 100px;
      background-color: #6faeca;
      background-image: url('/images/event/leftbottom.png'), url('/images/event/left.png');
      background-position: left bottom, left;
      background-repeat: no-repeat, repeat-y;
      min-height: 100px;
      color: #ffffff;

      .panel {
        color: #001a35;
      }
    }
  }
}