.flag {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;

  &.de {
    background-image: url('/images/flags/de_2.png');
    background-size: cover;
  }

  &.tr {
    background-image: url('/images/flags/tr_2.png');
    background-size: cover;
  }

  &.com {
    background-image: url('/images/flags/int_1.png');
    background-size: cover;
  }
}

#userOnline {
  .flag {
    width: 15px;
    height: 15px;

    position: relative;
    top: 2px;
  }
}

#bottom {
  .flag {
    width: 12px;
    height: 12px;
  }
}

#profil {
  .description {
    span {
      position: relative;

      .flag {
        width: 25px;
        height: 25px;
        border-radius: 30px;

        position: absolute;
        right: -30px;
      }
    }
  }
}

.blog-comments {
  .flag {
    position: relative;
    top: 3px;
  }
}

