section {
  &.goodies {
    &#images {

      background-color: #221725;
      background-image: url('/images/goodies/images/view_leftBottom.png'),
      url('/images/goodies/images/view_rightBottom.png'),
      url('/images/goodies/images/view_rightTop.png');
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: left bottom, right bottom, right top;

      .row {
        position: relative;

        div {
          &.img {
            background-color: rgba(0, 0, 0, 0.3);
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 15px;
            border-radius: 5px;
          }

          &.loader {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 150px;
            color: rgba(255, 255, 255, 0.7);
            background-color: rgba(0, 0, 0, 0.5);
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            text-align: center;
            border-radius: 5px;
            font-size: 100px;
            display: none;
          }
        }

        form {
          input {
            border: 1px solid rgba(255, 255, 255, 0.1);
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 27px;
            line-height: 32px;
            height: 50px;
          }

          label {
            color: #8b4d79;
            font-size: 20px;
            font-weight: 100;
          }
        }
      }
    }
  }
}