header {
 &.navbar {
    &.wet-asphalt {
      background-image: url('/images/habboween/header_red.png');
      background-position: top;
      background-repeat: repeat-x;

      &.headerBackground {
        background-image: url('/images/habboween/header.png');
      }
    }
  }
}

.carousel  {
  .carousel-inner {
    .item {
      .imageSeason {
        &:after {
          background-image: url('/images/habboween/header-right.png');
          background-position: right bottom;
          background-repeat: no-repeat;
        }
      }
    }
  }
}