.aicon {

  background-position: center;
  background-repeat: no-repeat;

  &.user_group {
    background-image: url('/images/icons/min_group.png');
  }

  &.min_key {
    background-image: url('/images/icons/min_key.gif');
  }
}

.icons {
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;

  &.habboaura {
    background-image: url('/images/icons/habboaura_black.png') !important;
  }

  &.home {
    background-image: url('/images/icons/home.png') !important;
  }

  &.box {
    background-image: url('/images/icons/box.png') !important;
  }

  &.console {
    background-image: url('/images/icons/console.png') !important;
  }

  &.help {
    background-image: url('/images/icons/help.png') !important;
  }

  &.room {
    background-image: url('/images/icons/RM3.gif') !important;
  }

  &.hotel {
    background-image: url('/images/icons/hotel.png') !important;
  }

  &.fansites {
    background-image: url('/images/icons/fansites.png') !important;
  }
  &.habbo {
    background-image: url('/images/icons/habbo.png') !important;
  }
  &.habbo_de {
    background-image: url('/images/icons/habbo_de.png') !important;
  }
  &.interview {
    background-image: url('/images/icons/interview.png') !important;
  }
  &.lexicon {
    background-image: url('/images/icons/lexcion.png') !important;
  }
  &.min_badge {
    background-image: url('/images/icons/min_badge.png') !important;
  }
  &.retweet {
    background-image: url('/images/icons/retweet.png') !important;
  }
  &.RM3 {
    background-image: url('/images/icons/RM3.gif') !important;
  }
  &.tech {
    background-image: url('/images/icons/tech.png') !important;
  }
  &.usernavi {
    background-image: url('/images/icons/usernavi.png') !important;
  }

  &.quest {
    background-image: url('/images/icons/quest.png') !important;
  }
}