section {
  &.message {
    background-image: url('/images/user/message/view_top_right.png'), url('/images/user/message/view_bottom_left.png'), url('/images/user/message/view_back.gif');
    background-position: top left, bottom right, center;
    background-repeat: no-repeat, no-repeat, repeat;

    .box {
      background-color: #FFFFFF;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 15px;

      .alert {
        margin-bottom: 0px;
      }

      .oneLine {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}