section {
  &#blackhole, #bobbaTalk, #pixel, #event {
    background-color: #000000;
    background-image: url('/images/user/stars/furnimatic_backdrop_left_tempfix3.png'), url('/images/user/stars/furnimatic_backdrop_right.png'), url('/images/user/stars/blackhole.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom left, bottom right, top center;

    h1 {
      color: #ffffff;
    }

    hr {
      border-top: 1px solid #241b67;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &#bobbaTalk {
    background-image: url('/images/pages/bobbatalk/pattern.png');
    background-repeat: repeat;
    background-position: center;

    hr {
      border-top: 1px solid #0d1f29;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    h1 {
      color: #ffffff;
    }
  }

  &#event {

    margin-top: -65px;
    padding-bottom: 0px;

    &.calendar {
      background-color: #050102;
      background-image: url('/images/pages/event/calendar/img_bottomRight.png'),
          url('/images/pages/event/calendar/img_bottomLeft.png'),
          url('/images/pages/event/calendar/img_topRight.png'),
          url('/images/pages/event/calendar/img_midTop.png');
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: bottom right, bottom left, top right, center top ;

      .shadow {
        background-color: rgba(0, 0, 0, 0.5);
        padding-bottom: 10px;
      }

      span {
        &.label {
          position: relative;
          .badge {
            font-size: 9px;
            padding: 3px 5px 3px 5px;
            background-color: hsl(0, 59%, 21%);
            display: block;
            position: absolute;
            top: -6px;
            right: -6px;
          }
        }
      }

      hr {
        border-top: 1px solid #0d1f29;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }

      h1 {
        color: #ffffff;
      }
    }
  }

  &#pixel {
    background-color: #63d2ff;
    background-image: url('/images/pages/pixel/bottom.png'), url('/images/pages/pixel/logo.png'), url('/images/pages/pixel/stars.png');
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: bottom right, center top 20px, center;
    padding-top: 180px;
    padding-bottom: 200px;
  }
}