.btn-shortnews {
  background-color: #3d3643;

  &.view {
    background-color:#89888A;
  }

  .middle {
    padding: 5px;
  }
}

.eventMiddle {
  width: 90%;
  margin-left: 5%;
  margin-top: -10px;

  .btn-shortnews {
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}

a {
  .btn-shortnews {
    color: #ffffff;
  }

  &:hover {
    .btn-shortnews {
      color: #504556;
    }
  }
}


section {

  &#shortnews {
    background-image: url('/images/shortnews/background.png');
    background-position: center;
    background-repeat: repeat;

    .slogen {
      color: #ffffff;
      padding-bottom: 25px;
    }

    .shortnewsList {
      background-image: url('/images/logo/big_1.png');
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }

  .shortnewsList {
    color: #b2b8c4;

    .more {
      margin-top: 15px;
      border: 0px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.4);
      display: inline-block;
    }

    .categorie {
      background-color: transparent !important;
      border-bottom: @color-Aura-Blue 3px solid;
      padding: 0px;
      margin-top: -10px;
      margin-bottom: 0px;

      &.background_aura {
        border-color: @color-Aura-Blue !important;
      }

      &.background_aura_red {
        border-color: @color-Aura-Red !important;
      }

      &.background_aura_yellow {
        border-color: @color-Aura-Yellow !important;
      }

      &.background_aura_green {
        border-color: @color-Aura-Green !important;
      }

      &.background_aura_lila {
        border-color: @color-Aura-Lila !important;
      }

      &.background_event {
        border-color: @color-event !important;
      }

      span {
        padding: 2px 7px;
        padding-top: 5px;
        margin: 0px;
        color: #ffffff;
        display: inline-block;
        border-top-left-radius: 5px;
        float: right;
      }
    }

    .shortnews {
      background-color: #3d3643;
      min-height: 70px;
      color: #c3c3c3;
      padding-top: 10px;
      margin-bottom: 25px;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      transition: all .50s ease;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

      position: relative;

      &.import {
        background-color: #330D0A;

        a {
          color: #702207;
        }

        .head {
          .badgeImage {
            background-color: #472D2B;
          }
        }
      }

      &.info, &.important {
        background-color: #2B3347;

        a {
          color: @color-Aura-Blue;
        }

        .head {
          .badgeImage {
            background-color: #131C33;
          }
        }
      }

      .pin {
        position: absolute;
        top: -10px;
        right: -10px;
      }

      &.event {

        .head {
          min-height: 20px;
        }

        .badge {
          background-color: #504556;
        }

        .btns {
          .btn {
            float: right;
          }
        }

        .categorie {
          span {
            border-top-right-radius: 5px;
            border-top-left-radius: 0px;
            float: left;
          }
        }

      }

      .head {
        clear: both;
        min-height: 50px;
        padding-top: 6px;
        padding-bottom: 0px;

        padding-left: 10px;
        padding-right: 10px;

        &:after {
          clear: both;
        }

        span {
          &.date {
            color: #c3c3c3;
          }
        }

        .badgeImage {
          height: 60px;
          width: 60px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('/images/logo/logo_rainbow.png');
          background-color: #504556;
          border-radius: 30px;
          float: left;
          margin-right: 10px;
          margin-top: -6px;

          &.habboaura {
            background-image: url('/images/logo/logo_rainbow.png');
          }

          &.furni {
            background-image: url('/images/icons/RM3.gif');
          }
        }
      }

      .text {
        //display: none;
        display: block;
        transition-property: all;
        transition-duration: .50s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        padding-bottom: 0px;

        padding: 20px;

        a {
          color: #345394;
        }

      }

      .image {
        height: 50px;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
        margin-top: -10px;
        width: 100%;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 5px;

        &:hover {
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          .open {
            opacity: 0;
          }
        }

        .open {
          background-color: rgba(0, 0, 0, 0.5);
          padding: 15px;
          text-align: center;
          width: 100%;
          height: 100%;
          color: #b2b8c4;
          font-weight: bold;
          opacity: 1;
          border-radius: 5px;

          transition-property: all;
          transition-duration: 1.20s;
          transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

          a {
            color: #b2b8c4;
            &:hover {
              color: #b2b8c4;
            }
          }
        }

      }

      .btns {
        position: relative;
        color: #FFFFFF;

        a {
          color: #FFFFFF;
          &:hover {
            color: @color-Aura-Blue-Dark;
          }
        }

        width: 100%;

        .btn {

          width: 50%;
          float: left;
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

          &.likes, &.comments {
            position: absolute;
            right: 2.5%;
            bottom: -12px;
            border-radius: 5px;
            border: 0px;
            padding: 7px 10px;
            width: 45%;
          }

          &.comments {
            border-right-width: 0px !important;
            left: 2.5%;
            right: auto;
          }

          &:hover {
            color: rgba(0, 0, 0, 0.5);
          }

          a {
            &:hover {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }

      }

    }
  }
}
