section {
  &#team {
    background-color: #5ccce0;
    background-image: url('/images/team/waldgame.png');
    background-position: center bottom;
    background-repeat: repeat-x;

    .panel {
      border-radius: 0px;
      background-color: rgba(255, 255, 255, 0.8);
      border: 0px;
    }
  }
}