
html,body {
  margin:0;
  height:100%;
}

.usermenu {
  position: fixed;
  top: 0px;
  left: -250px;
  width: 250px;
  background-color: rgba(34, 37, 42, 0.95);
  height: 100%;
  z-index: 1040;
  transition-property: all;
  transition-duration: .50s;
  color: #ffffff;

  @media (min-width: 1170px) {
    left: -235px;
  }

  .title {
    height: 150px;
    width: 100%;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


    transition-property: all;
    transition-duration: .50s;

    &.login {
      background-image: url('/images/user/login/frank_login.png');
    }

    .description {
      width: 100%;
      height: 30px;
      background-color: rgba(34, 37, 42, 0.55);
      color: #ffffff;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 6px;
      text-align: center;
    }
  }

  .bookmark {
    width: 35px;
    height: 46px;
    background-color: rgba(34, 37, 42, 0.95);
    position: absolute;
    left: 250px;
    top: 15px;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding-top: 7px;
    background-image: url("/images/icons/usernavi.png");
    background-position: center;
    background-repeat: no-repeat;

    .badge {
      position: absolute;
      bottom: -3px;
      right: -8px;
    }

  }

  &.openMenu {
    left: 0px;

    .content {
      .text {
        overflow: auto;
      }

      .icon {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &:not(.openMenu) {
    .content, .title  {
      width: 0px !important;
    }
  }

  .content {
    width: 100%;
    padding-top: 15px;

    transition-property: all;
    transition-duration: .50s;

    hr {
      border: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &.main {
      margin-bottom: 35px;
    }

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    input {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background: transparent;
      color: rgba(255, 255, 255, 0.8);
    }

    button {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.3);
      color: rgba(255, 255, 255, 0.8);
    }



    .icon {
      color: #ffffff;
      font-size: 20px;
      height: 40px;
      display: none;

      transition-property: all;
      transition-duration: .50s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }

    .text {

      transition-property: all;
      transition-duration: .50s;

      ul {
        color: rgba(255, 255, 255, 0.6);
        padding-left: 35px;
        li {
          position: relative;
          margin-bottom: 10px;
          a {
            color: rgba(255, 255, 255, 0.6);
            &:hover {
              color: rgba(255, 255, 255, 0.8);
            }
            img {
              position: absolute;
              left: -28px;
            }
          }
        }
      }
    }

    .info {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 10px;
    }
  }
}