section {
  &.user {

    &#userOnline {
      background-color: #007498;
      background-image: url('/images/main/texture/bg_texture.out.png');
      background-position: center;

      .user {
        background-color: rgba(255, 255, 255, 0.1);
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 1px;
        margin-left: 5px;
        margin-bottom: 5px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        img {
          border-radius: 5px;
        }

        small {
          color: #ffffff;
          display: inline-block;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
        }
      }
    }

    &#allOnline {
      background-color: #0f4f67;
      padding: 5px;
      margin: 0px;
      text-align: center;
      color: #ffffff;
    }

    &#profil {

      .side {

        padding-right: 0px;

        .banner {
          background-color: @color-Aura-Blue-Dark;
          height: 150px;
          width: 100%;
          background-position: top center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .description {
          background-color: #ffffff;
          padding: 15px;
          border-bottom: 1px solid #e4e4e4;
          color: #7f7f7f;
          .h3 {
            font-weight: 100;
            color: #1e2856;
          }

          .motto {
            font-size: 15px;
          }

          div {
            &.since {

              margin-top: 10px;

              .since {
                font-size: 14px;
              }

            }
          }
        }

        .userComments {
          background-color: #ffffff;
          .new {
            textarea {
              background-color: #f3f4f5;
              padding: 15px;
              border: 0px;
              box-shadow: none;
              border-radius: 0px;
              height: 120px;
              resize: vertical;
            }

            button {
              width: 100%;
              border: 0px;
              border-radius: 0px;
              margin-top: -18px;
              background-color: #2fb398;
              color: #ffffff;
            }
          }
        }
      }

      .main {


        padding-left: 0px;
        padding-right: 0px;

        .banner {
          height: 280px;
          background-color: @color-Aura-Blue;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
        }

        .static {
          background-color: #e5e5e5;
          padding: 15px;
          color: rgba(0, 0, 0, 0.6);
          font-size: 17px;
          img {
            margin-right: 14px;
          }

          .modul {
            margin-bottom: 5px;
            margin-top: 5px;
          }
        }

        .freetext {
          padding: 15px;

          hr {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

      }
    }

    &#edit {
      background-image: url('/images/user/edit/view_fill_2.png');
      background-repeat: repeat;
      background-position: center;
      min-height: 100px;
      padding: 20px;
      padding-top: 45px;

      .panel {
        color: @color-gray;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.05);

        .menu {
          .link {
            border: none;
            border-top: 1px #d4dde5 dotted;
            height: 60px;
            padding: 20px 15px;
            background-color: #ffffff;

            &.activ, &:hover {
              background-color: #f4f7f8;
              color: @color-Aura-Blue;

              .icons {
                background-color: #FFFFFF;
              }
            }

            &.activ {
              height: auto;
            }
          }
        }
      }

      .title {
        margin-bottom: 5px;
        display: inline-block;
      }

    }

    &#join {
      padding: 20px;
      padding-top: 45px;
      background-color: #5c96b8;
      min-height: 100px;
      color: #ffffff;

      background-image: url('/images/user/backgrounds/join/view_bottomRight.png'), url('/images/user/backgrounds/join/view_repeat.png') ;
      background-repeat: no-repeat, repeat;
      background-position:  bottom right -100px, center;

      &.password {
        background-image: url('/images/user/backgrounds/join/view_bottomRight.png'), url('/images/badges/used/patter_2.png'), url('/images/badges/used/patter_.gif') ;
        background-repeat: no-repeat, repeat, repeat;
        background-position:  bottom right -100px, center, center;
      }

      .panel {
        color: @color-gray;
        border: none;
        border-radius: 0px;
      }

      .step {
        position: absolute;
        left: -200%;
        transition-property: all;
        transition-duration: 1.50s;

        &.active {
          position: relative;
          left: 0px;
          display: block;
        }
      }

      .title {
        font-weight: 100;
        color: #ffffff;
      }

      .row {
        &.padding {
          margin-top: 35px;
        }
      }
    }

  }
}